*{
	margin: 0;
	padding: 0;
}

html,body{height:100%}

button{
 	padding: 7px 5px;
}

.flash_container{
	float:left;
	width:630px;
	height:420px;
}

/*--------- motion chart ---------*/
.motion_chart{
	position:relative;
}
.motion_chart label{
	position:absolute;
	left:250px;
	top:200px;
}
/*--------- /motion chart ---------*/