#scenarioSelect{
	position:absolute;
	left:160px;
	top:40px;
	border:1px solid;
	background:#f0f0f0;
}
#scenarioSelect li{
	list-style:none;
	cursor:pointer;
	padding:0 10px;
}
#scenarioSelect li:hover{
	background:#c8c8c8;
}