<script type="text/javascript">
snow.ui.registerComponent("mainScreen", 
	{
    parent: "#page",
	unique: true
	}, 
	{
	build: function(){
		var $e = $("#tmpl-mainScreen").render({});
		return $e;
	}, 
	postDisplay: function(){
		
		$(".motionChartBtn").click(function(){
			var $btn = $(this);
			var scenario = $btn.attr("data-scenario");
			if(scenario == 'BAU'){
				snow.ui.display("motionChart",{scenario:"BAU"},{parent:$(".flash_container.first")});
			}else{
				snow.ui.display("scenarioSelect");
			}
		});
		
	}
});

</script>

<script id="tmpl-mainScreen" type="text/html">
<div>
	<div>
    	<button class="motionChartBtn" data-scenario='BAU'>Add BAU Motion Chart</button>
    	<button class="motionChartBtn" data-scenario='others'>Add Other Scenario Motion Chart</button>
    </div>
	<div class="container">
		<div class="flash_container first"></div>
		<div class="flash_container second"></div>
	</div>
<div>
</script>
