<script type="text/javascript">
snow.ui.registerComponent("scenarioSelect", 
	{
    parent: "#page",
	}, 
	{
	build: function(){
		var selectData = [];
		selectData.push("BAU");
		selectData.push("POWER BT");
		selectData.push("SROTAGE BT");
		selectData.push("EV BT");
		selectData.push("ALLTECH BT");
		selectData.push("CLEAN POLICY");
		selectData.push("CLEAN POLICY BT");
		selectData.push("$30 CO2");
		selectData.push("$30 CO2 BT");
		selectData.push("HIGHCOMM BT");
		selectData.push("DELAY BT");
		selectData.push("$3 GAS");
		selectData.push("$3 GAS BT");
		var $e = $("#tmpl-scenarioSelect").render({selectData:selectData});
		return $e;
	}, 
	postDisplay: function(){
		var component = this;
		this.$element.find("li").click(function(){
			var $li = $(this);
			var type = $li.attr("data-scenario");
			snow.ui.display("motionChart",{scenario:type},{parent:$(".flash_container.second")});
			component.close();
		});
	},
	close:function(){
		this.$element.remove();
	}
});

</script>

<script id="tmpl-scenarioSelect" type="text/html">
<div id="scenarioSelect">
	<ul>
	{{each selectData}}
		<li data-scenario="${this}">${this}</li>
	{{/each}}
	<ul>
</div>
</script>
